*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    width: 1920px;
    margin: 0 auto;
}
/************* menu element **************/
header {
    background: #2C3E50;
    padding: 30px 0;
}
.logo {
    display: inline-block;
    width: 193px;
    margin-right: 117px;
    vertical-align: middle;
}
.menu_line {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background: white;
}
.menu {
    width: 1170px;
    margin: 0 auto;
}
.main_menu {
    display: inline-block;
    width: 756px;
    margin-right: 24px;
}
.main_menu ul li{
    list-style: none;
    color: white;
    display: inline-block;
    font-size: 15px;
    margin-right: 51px;
    font-family: 'Lato';
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
}
.main_menu ul li::after {
    content: "";
    height: 5px;
    position: absolute;
    background: #1ABC9C;
    width: 100%;
    left: 0;
    top: -54px;
    display: none;
}
.main_menu ul li:hover::after{
    display: block;
}
.main_menu ul li::before{
    content: "";
    background-image: url(../images/arrow1.png);
    width: 20px;
    height: 20px;
    position: absolute;
    right: -27px;
    background-repeat: no-repeat;
    top: 2px;
    background-position: 0;
}
.main_menu ul li:last-child::before {
    display: none;
}
.main_menu ul li:hover::before{
    background-image: url(../images/arrow.png);
}
.main_menu ul li:hover  {
    color: #1ABC9C;
    cursor:pointer;
}
.main_menu ul li:last-child{
    margin-right: 0;
}
.cart_search {
    display: inline-block;
    width: 70px;
    vertical-align: middle;
    margin-top: 5px;
}
.cart{
    background-image: url("../images/Cart.png");
    display: inline-block;
    width: 30px;
    height: 31px;
    background-repeat: no-repeat;
}
.search {
    background-image: url("../images/Search Icon.png");
    display: inline-block;
    width: 30px;
    height: 31px;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.active {
    color: #1ABC9C !important;
}
/************* menu element end **************/
.slider {
    position: relative;
    background: #2C3E50;
    height: 775px
}
.slider_content {
    width: 1170px;
    margin: 0 auto;
}
.slider_image {
    width: 445px;
    display: inline-block;
    vertical-align: top;
    margin-right: 149px;
}
.slider_image img {
    margin-left: -39px;
}
.caption {
    display: inline-block;
    width: 570px;
    margin-top: 99px;
}
.caption h3{
    color: white;
    font-size: 36px;
    font-family: 'Lato';
    font-weight: 300;
}
.caption h1{
    color: white;
    font-size: 89px;
    font-family: 'Lato';
    font-weight: 300;
    margin-bottom: 23px;
    margin-left: -5px;
    display: inline-block;
}
.caption p{
    color: white;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 300;
    line-height: 30px;
}
.iphone span:first-child {
    font-weight: 400;
}
.S {
    display: inline-block;
    width: 63px;
    height: 63px;
    vertical-align: top;
    font-size: 58px;
    font-family: 'Lato';
    margin-top: 25px;
    font-weight: 300;
    text-align: center;
    margin-left: 19px;
    color: white;
    border: 1px solid white;
    line-height: 56px;
    border-radius: 10px;
}
.slider_buttons {
    margin-top: 44px;
}
.slider_buttons span{
    color: white;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 18px;
    width: 160px;
    display: inline-block;
    text-align: center;
    margin-right: 6px;
    height: 50px;
    line-height: 50px;
}
.slider_buttons span:first-child{
    background: #1D2C3B;
}
.slider_buttons span:last-child{
    background: #1ABC9C;
}
.slider_arr .left_arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 42%;
    text-align: center;
    left: 60px;
    line-height: 47px;
    border-radius: 5px;
    font-size: 18px;
    transform: translateY(-50%);
    border: 1px solid white;
    color: white;
}
.slider_arr .right_arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 42%;
    text-align: center;
    right: 63px;
    line-height: 47px;
    border-radius: 5px;
    font-size: 18px;
    transform: translateY(-50%);
    border: 1px solid white;
    color: white;
}
 .right_arrow:hover, .left_arrow:hover{
    border: none;
    background: white;
    color: black;
}
.controls {
    width: 105px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 27px;
}
.controls div {
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 9px;
}
.controls div:nth-child(3) {
    border: 1px solid white;
    background: transparent;
    width: 17px;
    height: 16px;
}
.controls div:last-child {
    margin-right: 0;
}
/***************** slider end *******************/
/****************feature products **************/

.container {
    width: 1177px;
    margin: 0 auto;
}
.clearfix {
    clear:both;
}
.feat_products {
    margin-top:54px;
    background:#ECF0F1;
    padding-bottom: 100px;
}
.feat_header {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    margin-bottom:39px;
}
.feat_header h2 {
    font-family: 'Lato';
    font-weight: 300;
    font-size:36px;
    line-height: 33px;
}
.feat_header h2 span {
    font-weight: 900;
}
.slider_arrows i {
    display: inline-block;
    padding: 5px 9px;
    border: 1px solid #CDD9E1;
    background: #fff;
    color: #A1B1BC;
    font-size: 24px;
    margin: 1px 4px;
    border-radius: 10px;
}
.prod_items > div {
    width:270px;
    background:#fff;
    border-radius:14px;
    float:left;
    margin:0px 15px;
}
.prod_items > div:first-child {
    margin-left:2px;
}
.prod_items > div:last-child {
    margin-right:0px;
}
.prod_items > div:hover .prod_info, .prod_items > div:hover .prod_info_bottom {
    background:#2C3E50;
    cursor:pointer;
}
.prod_items > div:hover .prod_info {
    border-bottom:1px solid #405060;
}
.prod_items > div:hover .prod_info h3, .prod_items > div:hover .prod_info p {
    color:#fff;
}
.prod_items .poster {
    height:370px;
}
.prod_items a {
    text-decoration: none;
}
.prod_info {
    padding: 12px 19px;
    border:1px solid #E6E6E6;
}
.prod_info h3 {
    color: #2C3E50;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 33px;
}
.stars i {
    font-size: 15px;
    line-height: 32px;
    color: #1ABC9C;
    letter-spacing: -4px;
    margin-top: 1px;
}
.prod_info p {
    color: #2C3E50;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 20px;
    line-height: 33px;
}
.prod_info_bottom {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border: 1px solid #E6E6E6;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top:0px;
}
.prod_info_bottom .to-cart a, .prod_info_bottom .details a {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    display: inline-block;
    color: #FFFFFF;
    padding: 0px 10px 0px 31px;
    border-radius: 4px;
}
.prod_info_bottom .to-cart a {
    background:#A1B1BC url("../images/Shape 246.png") no-repeat;
    background-position: 10px;
}
.prod_info_bottom .details a {
    background:#A1B1BC url("../images/Shape 247.png") no-repeat;
    background-position: 12px 8px;
}
.prod_info_bottom .to-cart a:hover {
    background:#1ABC9C url("../images/Shape 246.png") no-repeat;
    background-position: 10px;
}
.prod_info_bottom .details a:hover {
    background:#1ABC9C url("../images/Shape 247.png") no-repeat;
    background-position: 12px 8px;
}
/****************feature products end **************/